/************************ billeder ************************************************/
.grid_billeder {
  position: relative;
  left: 17px;
  margin-bottom: 10px;
  top: 100px;
}
/******************************* tekst ****************************/
.overskrift {
  margin: 10%;
  margin-left: 40%;
  font-size: 2rem;
}
p {
  margin-top: 30px;
  margin-bottom: 5%;
  margin-left: 10%;
  font-size: 1rem;
  background-color: #c7d2dd;
}
/*******************************grid*****************************/
.grid_omos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_billeder {
  grid-column: 1;
  grid-row: 1;
}
.grid_tekst {
  grid-column: 2;
  grid-row: 1;
}
