/************************ billeder ************************************************/
.billed_ejer {
  margin-top: 200px;
}
.billed_butik {
  margin-top: 15px;
}
/******************************* tekst ****************************/

h1 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
}
.tekst p {
  margin-bottom: 5%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
  font-size: 1.1rem;
  line-height: 25px;
}

.text_box {
  margin-top: 260px;
  margin-left: 30px;
  background-color: #9FB4C7;
  width: 500px;
  height: 650px;
}
/*******************************grid*****************************/
.grid_omos {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid_billeder {
  grid-column: 1;
  grid-row: 1;
}
.tekst {
  grid-column: 2;
  grid-row: 1;
}
