/************************************* Menu ***************************************/
*
{


margin:0;
padding:0;
box-sizing: border-box;
}

img{
    width:100%;
    display:block;
    height:auto;

}


/****************** header *******************/

/******************* menu *******************/

header {
    display: flex;
    align-items: center;
  }
  
  li{
    padding: 30px;
  }
  
  nav {
    display: flex;
    justify-content: space-between;}
  
.menu
{display: flex;
list-style: none;
}

.menu a{color: black;
 text-decoration: none;}

 .menu a:hover {
    color:#71181F;
  }
  




/******************* logo *******************/
.logo{

width: 35%;
padding-top: 30px;
}

.logo2{

    width: 13%;
    padding-top: 120px;
    }


  /****************** main *******************/    

  main{
    height: 1000px;
  }

  body{
    background-color: rgb(241, 241, 230);
  }

  /****************** footer *******************/    
footer{
    background-color: #71181F;
    height: 350px;
}
/************************************ Fonts **************************************/
