




h1{
   text-align: center;
   font-family: 'playfair';
   padding-top: 70px;
   font-size: 45px;
}

h2{
    text-align: center;
    font-family: 'playfair';
    padding-top: 700px;
 }

.foto_boks{
    background-color:#c7d2ddd9;
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   margin: 0 auto;
   margin-top: 20px;
    
    
}

.ostekassen1{
   width: 80%;
   padding-top: 30px;
   padding-left: 40px;
}

.pris{
   padding-left: 55px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 13px;
   
}





.abonnement_tekst{

   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 25px;
   font-size: 17px;
   padding-right: 90px;
   padding-top: 15px;
   font-family: 'Montserrat', sans-serif;
}

