




h1{
   padding-top: 70px;

}

h2{
    text-align: center;
    font-family: 'playfair';
    padding-top: 700px;
 }

.foto_boks{
    background-color:#c7d2ddd9;
    width: 1000px;
    height: 600px;
    display: grid;
    grid-template-columns: 1fr 2fr;
   margin: 0 auto;
   margin-top: 20px;
    
    
}

.ostekassen1{
   width: 90%;
   padding-top: 38px;
   padding-left: 38px;
}

.pris{
   padding-left: 60px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 15px;
   
}

.pris2{
   padding-left: 140px;
   padding-top: 5px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 15px;
   
}





.abonnement_tekst{

   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 25px;
   font-size: 15px;
   padding-right: 90px;
   padding-top: 15px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
}

/************************ mobilsite ***********************/
@media(max-width:800px){







h1{
   text-align: center;
   font-family: 'playfair';
   padding-top: 70px;
   font-size: 30px;
}

h2{
    text-align: center;
    font-family: 'playfair';
    padding-top: 200px;
    font-size: 20px;
 }

.foto_boks{
    background-color:#c7d2ddd9;
    width: 100%;
    height: 790px;
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   flex-flow: column-reverse;
   
    
    
}

.ostekassen1{
   width: 80%;
   padding-top: 30px;
   padding-left: 40px;
}

.pris{
   padding-left: 40px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 12px;
   
}

.pris2{
   padding-left: 40px;
   padding-top: 5px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 12px;
   padding-bottom: 20px;
   
}





.abonnement_tekst{

   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 25px;
   font-size: 12px;
   padding-right: 7px;
   padding-left: 7px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   padding-top: 1px;


}







}