




h1{
   padding-top: 70px;

}

.video_boks{
   border-style: solid;
   width: 1000px;
   height: 600px;
  margin: 0 auto;
  margin-top: 60px;
   
   
}

h2{
    text-align: center;
    font-family: 'playfair';
    padding-top: 100px;
 }

.foto_boks{
    background-color:#c7d2ddd9;
    width: 1000px;
    height: 600px;
   margin: 0 auto;
   margin-top: 20px;
    
    
}

.ostekassen1{
   background-image: url(billeder_ostekasser/ostekassenfotoLille1.png);
   background-size: contain;
   background-repeat: no-repeat;
   width:100%;
   height: 230px;
   margin-top: 38px;
   margin-left: 38px;
}

.bestil{
   height: 30px;
   width: 70px;
   background-color: #b5b7bcbd;
  
 
}

.bestil_p{
   font-family: 'Montserrat', sans-serif;
   color: rgb(63, 63, 63);
   text-align: center;
   padding-top: 4px;
   cursor: pointer;
   
}

.pris{
   padding-left: 60px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 15px;
   
}

.pris2{
   padding-left: 140px;
   padding-top: 5px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   font-size: 15px;
   
}





.abonnement_tekst{

   display: flex;
   flex-direction: column;
   gap: 15px;
   line-height: 25px;
   font-size: 15px;
   padding-left: 20px;
   padding-right: 80px;
   padding-top: 15px;
   font-family: 'Montserrat', sans-serif;
  
}


 
 #popup {
   position:absolute;
   background-color: #c7d2dd;
   width: 20%;
   height: 95px;
 
 }
 
 .close {
   color: #606060;
   float: right;
   padding-right: 6px;
   font-size: 20px;
   cursor: pointer;
 }
 
 .close:hover,
 .close:focus {
   color: #000;
   text-decoration: none;
   cursor: pointer;
 }

 .popup_tekst{
   color: #606060;
   padding-top: 35px;
   text-align: center;
   font-family: 'Montserrat', sans-serif;
   font-size: 14px;
  
 }
/************************ mobilsite ***********************/
@media(max-width:800px){







h1{
   text-align: center;
   font-family: 'playfair';
   padding-top: 70px;
   font-size: 30px;
}

h2{
    text-align: center;
    font-family: 'playfair';
    padding-top: 200px;
    font-size: 20px;
 }

.foto_boks{
    background-color:#c7d2ddd9;
    width: 100%;
    height: 790px;
   margin: 0 auto;
   margin-top: 20px;
   display: flex;
   flex-direction: column;
   flex-flow: column-reverse;
   
    
    
}

.ostekassen1{
   width: 80%;
   padding-top: 30px;
   padding-left: 40px;
}

.pris{
   padding-left: 40px;
   padding-top: 10px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 12px;
   
}

.pris2{
   padding-left: 40px;
   padding-top: 5px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bold;
   font-size: 12px;
   padding-bottom: 20px;
   
}





.abonnement_tekst{

   display: flex;
   flex-direction: column;
   gap: 20px;
   line-height: 25px;
   font-size: 12px;
   padding-right: 7px;
   padding-left: 7px;
   font-family: 'Montserrat', sans-serif;
   font-weight: bolder;
   padding-top: 1px;


}




 




}