h1 {
  text-align: center;
  font-family: "playfair";
  padding-top: 70px;
  font-size: 45px;
}

h2 {
  text-align: center;
  font-family: "playfair";
  padding-top: 100px;
}

.grid_ost {
  background-color: #c7d2dd7c;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 2px;
}

.grid_1_1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
}
