/*******************TEKST*********************/
h1 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*******************BILLEDER******************/

.ostekasse {
  width: 80%;
  display: block;
  opacity: 100%;
  padding-top: 75px;
  padding-left: 100px;
}

/*******************GRID*********************/

#grid_ostekasser {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #c7d2ddbd;
}

.tekst_pris {
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-bottom: 30px;
}
